@page "/"

<div class="row">
    <div class="jumbotron index-hero">
        <div class="wrap">
            <h1>
                Just another .Net expression evaluator
            </h1>
            <div class="right-content">
                Yale is an expression parser and evaluator library for .Net. It allows for computation of string expression with variables and expression references. 
                Expressions are compiled directly to IL, thus making subsequent executions very fast.
            </div>
        </div>
    </div>
</div>
<div>
    <p>
        Like other expression frameworks, Yale evaluates string expressions like sqrt(a^2 + b^2) and name = "Maria" at runtime. The primary design objective of Yale is to make a somewhat complicated library as intuitive and easy to use as possible.
    </p>
    <p>
        This library is a fork of <a href="https://github.com/mparlak/Flee">Flee</a> with the intent to modernize and simplify the source code and usage. Yale uses the same grammar and compiler; however, the functionality does not match. For details, look at the Github wiki or the project tests.
    </p>
</div>

<div class="row">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Visit github page</h5>
            <p class="card-text">If there are any issues or questions, please visit the project page a Github. </p>
            <a href="https://github.com/Verent/Yale" class="card-link">Github</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Nuget</h5>
            <p class="card-text">Download from nuget</p>
            <a href="https://www.nuget.org/packages/Yale/" class="card-link">Nuget</a>
        </div>
    </div>
</div>