@page "/updates"

<h1>Updates</h1>

<h2>2019-03-01 - Yale 1.0.0.0 released</h2>
<p>
    <ul>
        <li>Added parser configuration</li>
        <li>Source code for this site is available at <a href="https://github.com/Verent/Yale-Portal" class="card-link">Github</a></li>

    </ul>

    Visit <a href="https://github.com/Verent/Yale" class="card-link">Github</a> for details.
</p>