@page "/about"

<h1>About</h1>
The source code for this site will be made available at github soon. I just need to add the last parts first...  

<h2>Flee</h2>
<p>
    This project is based on <a href="https://github.com/mparlak/Flee">Flee - Fast Lightweight Expression Evaluator</a>.

</p>
<p>
    Yale was created to solve some issues that was experienced in Flee.
</p>
<h2>Blazor</h2>
<p>
    The examples on this pages runs using the <a href="https://blazor.net/docs/hosting-models.html">Server-side hosting model</a> of <a href="https://blazor.net/">Blazor</a>.
    This enables med to execute the library functions serverside using events and SignalR (WebSocets).
</p>
<p>
    If you are a web developer I would recomend testing it out as it has some awsome features, however it is currently experimenal and should not be used for production sites.
    Blazor enables full-stack web development with C# and WebAssembly.
</p>
