@page "/about"

<h1>About</h1>
<p>Source code for this site is available at <a href="https://github.com/Verent/Yale-Portal" class="card-link">Github</a></p>


<h2>Flee</h2>
<p>
    This project is based on <a href="https://github.com/mparlak/Flee">Flee - Fast Lightweight Expression Evaluator</a>.

</p>
<p>
    Yale was created to solve some issues that was experienced in Flee.
</p>
<h2>Blazor</h2>
<p>
    The example on this site run using the <a href="https://blazor.net/docs/hosting-models.html">Server-side hosting model</a> of <a href="https://blazor.net/">Blazor</a>.
    This enables med to execute the library functions server side using events and SignalR (WebSocets).
</p>
<p>
    If you are a web developer, I would recommend testing it out as it has some awesome features, however it is currently experimental and should not be used for production sites.
    Blazor enables full-stack web development with C# and WebAssembly.
</p>
