@page "/updates"

<h1>Updates</h1>

<h2>2019-03-01 - Yale 1.0.0.0 released</h2>
<p>
    <ul>
        <li>Added parser configuration</li>
        <li>Sourcecode for this site is available at <a href="https://github.com/Verent/Yale-Portal" class="card-link">Github</a></li>

    </ul>

    Visit <a href="https://github.com/Verent/Yale" class="card-link">Github</a> yale changes for details.
</p>

<h2>2019-02-17</h2>
<p>
    Removed some unused code, added so the Title variable update title bar text. Basically, using Yale to maintain application state.
    Test it out by typing <code>Title=Some text</code> in the <a href="/terminal">Yale terminal</a>.
</p>