@page "/updates"

<h1>Updates</h1>

<h2>2019-02-17</h2>
<p>
    Removed some unused code, added so the Title variable update title bar text. Basically, using Yale to maintain application state.
    Test it out by typing <code>Title=Some text</code> in the <a href="/terminal">Yale terminal</a>.
</p>