@inherits BlazorLayoutComponent

@using Yale.Portal.Services
@using System.ComponentModel
@using System;

@inject YaleService service

@functions {

    private string Title { get ; set; } = "Home";

    protected override void OnInit()
    {
        service.Variables.PropertyChanged += UpdateTitle;
    }

    private void UpdateTitle(object sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName == "Title")
        {
            Title = service.Variables.Get(e.PropertyName).ToString();
            StateHasChanged();
        }
    }
}

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="top-row px-4">
        @Title
    </div>

    <div class="container">
        @Body
    </div>
</div>